.controle-etapas {
  padding: 2rem;
}

.controle-etapas h2 {
  margin-bottom: 1.5rem;
  font-size: 1.8rem;
  color: #243066;
}

.lista-etapas {
  list-style: none;
  padding: 0;
}

.lista-etapas li {
  background-color: #fff4cc;
  border-left: 5px solid #f5b700;
  border-radius: 6px;
  padding: 1rem;
  margin-bottom: 1rem;
  font-size: 1.05rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.lista-etapas li button {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 0.4rem 0.8rem;
  border-radius: 6px;
  cursor: pointer;
  font-size: 0.9rem;
}

.lista-etapas li button:hover {
  background-color: #3e8e41;
}


.etapa-item {
  margin-bottom: 1.5rem;
  padding: 1rem;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #fafafa;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.botao-status {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
}

.botao-status.liberar {
  background-color: #2ecc71;
  color: white;
}

.botao-status.encerrar {
  background-color: #e74c3c;
  color: white;
}
