.dashboard-votos-publicos {
  padding: 20px;
  background: #fff;
  border-radius: 8px;
}

.filtro-data {
  margin-bottom: 20px;
}

.grafico-container {
  width: 90%;
  overflow-x: auto;
}

.grafico-container {
  padding-bottom: 90px; /* espaço para nomes e fotos */
}

.dashboard-votos-publicos input[type="date"] {
  margin-left: 10px;
  padding: 5px;
}
