/* ================= CONTAINER PRINCIPAL ================= */

.festival-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  position: relative;
  overflow-x: hidden;
}

/* ================= TOPO DO FESTIVAL ================= */

.topo-festival {
  position: relative;
  width: 100%;
  padding: 12rem 2rem 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15rem;
  flex-wrap: wrap;
}

.logo-festival {
  max-width: 500px;
  width: 100%;
  z-index: 900;
}

.texto-topo {
  text-align: center;
  font-family: HoghFish, sans-serif;
  z-index: 900;
}

.texto-topo h2 {
  margin: 0;
  line-height: 1.2;
}

.bandeirolinhas {
  width: 130px;
}

.topo-talento {
  font-size: 4.5rem;
  color: #FFC711;
  letter-spacing: 3px;
  font-family: HoghFish, sans-serif;
}

.topo-brilhar {
  font-size: 3rem;
  color: white;
  font-weight: 300;
}

.topo-arraia {
  font-size: 4.5rem;
  color: #FF6500;
  letter-spacing: 5px;
  font-weight: 800;
}

/* ================= Cordas ================= */
.corda-esquerda,
.corda-direita {
  position: absolute;
  top: 0;

  z-index: 1;
}

.corda-esquerda {
  left: 0;
  height: 130rem;
}

.corda-direita {
  right: 0;
  height: 110rem;
}

/* ================= REGRAS E INFORMAÇÕES ================= */

.regras-festival {
  display: flex;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
  margin: 3rem 0;
  z-index: 2;
}

.regras-festival img {
  max-width: 500px;
  width: 100%;
}

/* ================= BANDEIROLAS ================= */

.bandeirolas-festival {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: -4rem;
  z-index: 5;
}

.bandeirolas-festival img {
  width: 100%;
  max-height: 100%;
  object-fit: cover;
}

.bandeirolas-topo,
.bandeirolas-intermediarias {
  width: 100%;
  display: flex;
  justify-content: center;
  z-index: 5;
  position: relative;
}

.bandeirolas-topo {
  position: absolute;
  top: 0;
  left: 0;
}

.bandeirolas-topo img,
.bandeirolas-intermediarias img {
  width: 100%;
  height: auto;
  object-fit: cover;
}


/* ================= INSCRIÇÃO ================= */

.secao-inscricao {
  position: relative;
  width: 100%;
  min-height: 1100px; /* altura mínima para empurrar o rodapé */
  z-index: 4;
}

 .tablet-amarelo {
  display: none !important;
}

.mobile-amarelo {
  display: none !important;
}



.fundo-costura {
  width: 100%;
  height: 100%;
  display: block;
  position: relative;
  z-index: 1;
}

.fundo-costura img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.titulo-inscricao {
  position: absolute;
  top: 15em;
  left: 50%;
  transform: translateX(-50%);
  z-index: 4;
}

.titulo-inscricao img {
  width: 100%;
  max-width: 400px;
}

.decoracao-direita,
.decoracao-esquerda,
.decoracao-direita-baixo,
.decoracao-esquerda-baixo {
  position: absolute;
  z-index: 9;
  animation: float1 4s ease-in-out infinite;
}

.decoracao-direita {
  right: 8rem;
  top: 22rem;
  width: 320px;
  animation-delay: 0.4s;
}

.decoracao-esquerda {
  left: 3rem;
  top: 38rem;
  width: 320px;
  animation-delay: 1.2s;
}

.decoracao-direita-baixo {
  right: 2rem;
  bottom: 42rem;
  width: 280px;
  animation-delay: 1.5s;
}

.decoracao-esquerda-baixo {
  left: 3rem;
  bottom: 25rem;
  width: 280px;
  animation-delay: 0.8s;
}

.decoracao-direita img,
.decoracao-esquerda img,
.decoracao-direita-baixo img,
.decoracao-esquerda-baixo img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

/* Animações suaves de flutuação */
@keyframes float1 {
  0% {
    transform: translateY(0);
    filter: blur(3px);
  }
  50% {
    transform: translateY(-5px) rotate(-5deg);
    filter: blur(0);
  }
  100% {
    transform: translateY(0);
    filter: blur(3px);
  }
}

/* ================= Formulario ================= */

.formulario-inscricao {
  position: absolute;
  top: 25rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 5;

  background: #5f1d7a;
  padding: 3rem 2rem;
  border-radius: 12px;
  width: 95%;
  max-width: 1000px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
}


.foto-upload {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.foto-upload-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 150px;
  border: 1px dashed #ccc;
  border-radius: 5px;
  cursor: pointer;
  overflow: hidden;
}

.preview-foto-inscricao {
  width: 100% !important;
  height: 100% !important;
  object-fit: cover;
  border-radius: 5px;
}


.foto-upload-box img {
  width: 30px; /* Ajuste o tamanho do ícone */
  height: 30px;
  margin-bottom: 5px;
}

.form-inscricao-bonfim {
  display: flex;
  flex-direction: column;
  width: 100%; /* Ocupar a largura total do container pai */
  max-width: 600px; /* Largura máxima do formulário */
}

.input-inscricao {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.linha-dupla-inscricao {
  display: flex;
  gap: 10px; /* Espaçamento entre os elementos na mesma linha */
  margin-bottom: 10px;
}

.linha-dupla-inscricao .input-inscricao {
  flex: 1; /* Fazer com que os inputs ocupem o mesmo espaço */
}

.upload-inscricao {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

.label-inscricao {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-size: 0.9em;
  color: #555;
}

.upload-botao {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background-color: #f0f0f0; /* Cor de fundo do botão */
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
  gap: 5px;
}

.upload-botao img {
  width: 20px; /* Ajuste o tamanho do ícone de upload */
  height: 20px;
}

.upload-final-inscricao {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.label-envio-video {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px 20px;
  background-color: #e0e0e0; /* Cor de fundo do botão de vídeo */
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
  gap: 10px;
  font-weight: bold;
  color: #333;
}

.label-envio-video img {
  width: 25px; /* Ajuste o tamanho do ícone de vídeo */
  height: 25px;
}

.label-inscricao {
  color: #c2c2c2;
  margin-bottom: 10px;
}


.nome-arquivo {
  display: block;
  font-size: 0.85rem;
  color: #ddd;
  margin-top: 4px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}


.tooltip-container {
  position: relative;
  display: inline-block;
  cursor: help;
}

.tooltip-icon {
  display: inline-block;
  width: 16px;
  height: 16px;
  font-size: 12px;
  font-weight: bold;
  background-color: #cdcdcd;
  color: #000;
  border-radius: 50%;
  text-align: center;
  line-height: 16px;
  transition: background 0.3s;
}

.tooltip-container:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}

.tooltip-text {
  visibility: hidden;
  opacity: 0;
  width: max-content;
  max-width: 220px;
  background-color: #333;
  color: #fff;
  text-align: left;
  padding: 6px 10px;
  border-radius: 6px;
  position: absolute;
  bottom: 125%; /* acima da bolinha */
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  font-size: 0.8rem;
  transition: opacity 0.3s;
  white-space: normal;
}




/* ================= RODAPÉ ================= */

.rodape-festival {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  z-index: 5;
  width: 100%;
}

.corda-rodape {
  width: 100%;
  height: auto;
  z-index: 1;
}

.corda-rodape img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.rodape-content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 3rem 0;
  z-index: 9;
}

.selos-finais {
  display: flex;
  gap: 2rem;
  align-items: center;
}

.coracao {
  width: 80px;
  height: 80px;
}

.assinatura {
  position: absolute;
  width: 100%;
  background-color: #191919;
  color: #f0f0f0;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 4;
  text-align: center;
}

.assinatura a {
  color: #8d35e0;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.2rem;
}

/* ================= Cactos laterais fixos ================= */
.cactos {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: auto;
  z-index: 3;
}
.cacto-esquerda,
.cacto-direita {
  position: absolute;
  bottom: 0;
  height: auto;
  z-index: 3;
  pointer-events: none;
  width: 20rem;
}

.cacto-esquerda img {
  width: 150px;
  left: 0;
}

.cacto-direita {
  right: 0;
}


/* ================= Botão ================= */
.Btn {
  width: 140px;
  height: 40px;
  border: none;
  border-radius: 10px;
  background: linear-gradient(to right,#77530a,#ffd277,#77530a,#77530a,#ffd277,#77530a);
  background-size: 250%;
  background-position: left;
  color: #ffd277;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition-duration: 1s;
  overflow: hidden;
  margin: 20px auto;
}

.Btn::before {
  position: absolute;
  content: "Enviar";
  color: #ffd277;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 97%;
  height: 90%;
  border-radius: 8px;
  transition-duration: 1s;
  background-color: rgba(0, 0, 0, 0.842);
  background-size: 200%;
}

.Btn:hover {
  background-position: right;
  transition-duration: 1s;
}

.Btn:hover::before {
  background-position: right;
  transition-duration: 1s;
}

.Btn:active {
  transform: scale(0.95);
}


.mensagem-inscricoes-encerradas {
  padding: 3rem;
  background-color: #fff3cd;
  border: 1px solid #ffeeba;
  border-radius: 8px;
  text-align: center;
  color: #856404;
  font-family: sans-serif;
}

.mensagem-inscricoes-encerradas h2 {
  font-size: 1.8rem;
  margin-bottom: 1rem;
}


/* ================= RESPONSIVO ================= */

@media (min-width: 1920px) {
  .topo-festival {
    padding: 15% 0 3rem;
    gap: 20rem;
  }

  .logo-festival {
    max-width: 700px;
    width: 100%;
  }

  .topo-talento {
    font-size: 6rem;
    letter-spacing: 5px;
  }

  .topo-brilhar {
    font-size: 4rem;
  }

  .topo-arraia {
    font-size: 6rem;
    letter-spacing: 7px;
  }

  .corda-esquerda,
  .corda-direita {
    height: 200rem;
    width: 30%;
  }

  .titulo-inscricao {
    top: 25rem;
  }

  .formulario-inscricao {
    padding: 4rem;
    width: 70%;
    max-width: 1200px;
    top: 45rem;
  }

  .input-inscricao {
    padding: 15px;
    font-size: 1.2rem;
  }

  .linha-dupla-inscricao {
    gap: 15px;
  }

  .upload-botao {
    padding: 15px;
    font-size: 1.1rem;
  }

  .label-envio-video {
    padding: 20px 25px;
    font-size: 1.2rem;
  }

  .decoracao-direita,
  .decoracao-esquerda,
  .decoracao-direita-baixo,
  .decoracao-esquerda-baixo {
    width: 400px;
  }

  .decoracao-direita {
    right: 5rem;
    top: 55rem;
    width: 800px;
    z-index: 1;
  }

  .decoracao-esquerda {
    left: -15rem;
    top: 55rem;
    width: 800px;
    z-index: 1;
  }

  .decoracao-direita-baixo {
    display: none;
  }

  .decoracao-esquerda-baixo {
    display: none;
  }

  .bandeirolas-festival img {
    max-height: 200px;
  }

  .titulo-inscricao img {
    max-width: 600px;
  }

  .rodape-festival {
    gap: 3rem;
  }

  .selos-finais {
    gap: 3rem;
  }
}


@media (max-width: 1700px) {
  .topo-festival {
    padding: 10% 0 2rem;
    gap: 5rem;
  }

  .mobile-amarelo, .tablet-amarelo {
    display: none;
  }

  .logo-festival {
    width: 80%;
  }

  .texto-topo {
    z-index: 5;
  }

  .corda-direita {
    height: 140rem;
    width: 25%;
  }

  .corda-esquerda {
    height: 150rem;
    width: 25%;
  }

  .titulo-inscricao {
    top: 15rem;
  }

  .decoracao-direita {
    right: -2rem;
    top: 5rem;
  }

  .decoracao-direita-baixo {
    right: -2rem;
    top: 45rem;
    z-index: 1;
  }

  .decoracao-esquerda {
    left: -6rem;
    top: 20rem;
    z-index: 1;
  }

  .decoracao-esquerda-baixo {
    width: 350px;
    left: -15rem;
    top: 50rem;
    z-index: 7;
  }

  .formulario-inscricao {
    padding: 1rem;
    margin-top: -3rem;
    width: 80%;
    max-width: 800px;
  }

  .formulario-inscricao {
    padding: 1rem;
    margin-top: 4rem;
    width: 90%;
    max-width: 600px;
  }

  .input-inscricao {
    padding: 8px;
    margin-bottom: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 0.9rem;
  }

  .linha-dupla-inscricao {
    gap: 8px;
  }

  .upload-inscricao {
    gap: 8px;
  }

  .label-inscricao {
    font-size: 0.85rem;
  }

  .upload-botao {
    padding: 8px;
    font-size: 0.85rem;
  }

  .label-envio-video {
    padding: 10px 15px;
    font-size: 0.9rem;
  }

  .cacto-esquerda,
  .cacto-direita {
    width: 250px;
  }
}

@media (max-width: 1200px) {
  .topo-festival {
    padding: 10% 0 2rem;
    gap: 5rem;
  }

  .mobile-amarelo, .tablet-amarelo {
    display: none;
  }

  .logo-festival {
    width: 80%;
  }

  .texto-topo {
    z-index: 5;
  }

  .corda-direita {
    height: 140rem;
    width: 25%;
  }

  .corda-esquerda {
    height: 150rem;
    width: 25%;
  }

  .titulo-inscricao {
    top: 8rem;
  }

  .decoracao-direita {
    right: -2rem;
    top: 5rem;
  }

  .decoracao-direita-baixo {
    right: -2rem;
    top: 45rem;
    z-index: 1;
  }

  .decoracao-esquerda {
    left: -6rem;
    top: 20rem;
    z-index: 1;
  }

  .decoracao-esquerda-baixo {
    width: 350px;
    left: -15rem;
    top: 50rem;
    z-index: 7;
  }

  .formulario-inscricao {
    padding: 1rem;
    margin-top: -3rem;
    width: 80%;
    max-width: 800px;
  }

  .formulario-inscricao {
    padding: 1rem;
    margin-top: -9rem;
    width: 90%;
    max-width: 600px;
  }

  .input-inscricao {
    padding: 8px;
    margin-bottom: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 0.9rem;
  }

  .linha-dupla-inscricao {
    gap: 8px;
  }

  .upload-inscricao {
    gap: 8px;
  }

  .label-inscricao {
    font-size: 0.85rem;
  }

  .upload-botao {
    padding: 8px;
    font-size: 0.85rem;
  }

  .label-envio-video {
    padding: 10px 15px;
    font-size: 0.9rem;
  }

  .cacto-esquerda,
  .cacto-direita {
    width: 250px;
  }
}


@media (min-width: 551px) and (max-width: 900px) {
  .topo-festival {
    padding: 10% 0 2rem;
    gap: 5rem;
  }

  .tablet-amarelo {
    display: flex !important;
  }

  .desktop-amarelo{
    display: none;
  }

  .mobile-amarelo {
    display: none;
  }

  .logo-festival {
    width: 80%;
  }

  .texto-topo {
    z-index: 5;
  }

  .corda-direita {
    height: 140rem;
    width: 25%;
  }

  .corda-esquerda {
    height: 150rem;
    width: 25%;
  }

  .titulo-inscricao {
    top: 8rem;
  }

  .formulario-inscricao {
    padding: 1.5rem;
    margin-top: -5rem;
    width: 90%;
  }

  .cacto-esquerda,
  .cacto-direita {
    width: 100px;
  }

  .decoracao-direita,
  .decoracao-esquerda,
  .decoracao-direita-baixo,
  .decoracao-esquerda-baixo {
    width: 200px;
  }

  .decoracao-direita {
    right: -2rem;
    top: 5rem;
  }

  .decoracao-direita-baixo {
    display: none;
  }

  .decoracao-esquerda {
    left: -6rem;
    top: 20rem;
    z-index: 1;
  }

  .decoracao-esquerda-baixo {
    width: 350px;
    left: -15rem;
    top: 60rem;
    z-index: 7;
  }


  .topo-talento,
  .topo-brilhar,
  .topo-arraia {
    font-size: calc(3em + 1vw);
    text-align: center;
  }
}

@media (max-width: 550px) {
  .selos-finais {
    flex-direction: column;
    gap: 1.2rem;
  }

  .mobile-amarelo {
    display: flex !important;
  }

  .desktop-amarelo{
    display: none;
  }

  .tablet-amarelo {
    display: none;
  }

  .cacto-esquerda,
  .cacto-direita {
    width: 100px;
  }

  .topo-festival {
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 18% 0 2rem;
  }
  
  .logo-festival {
    z-index: 5;
    width: 80%;
  }

  .texto-topo {
    z-index: 5;
  }

  .corda-direita {
    height: 110rem;
    width: 30%;
  }

  .corda-esquerda {
    height: 130rem;
    width: 25%;
  }

  .topo-talento,
  .topo-brilhar,
  .topo-arraia {
    font-size: 2rem;
    text-align: center;
  }

  .regras-festival img {
    max-width: 300px;
    width: 100%;
    height: auto;
    margin: 0 auto;
  }

  .titulo-inscricao {
    top: 8rem;
  }

  .formulario-inscricao {
    padding: 1.5rem;
    margin-top: -8rem;
    width: 90%;
  }

  .linha-dupla-inscricao {
    flex-direction: column;
    gap: 1rem;
  }

  .bandeirolas-festival img {
    max-height: 80px;
  }

  .titulo-inscricao img {
    max-width: 300px;
  }

  .decoracao-direita,
  .decoracao-esquerda,
  .decoracao-direita-baixo,
  .decoracao-esquerda-baixo {
    width: 200px;
  }

  .decoracao-direita {
    right: -2rem;
    top: 5rem;
  }

  .decoracao-direita-baixo {
    display: none;
  }

  .decoracao-esquerda {
    left: -6rem;
    top: 20rem;
    z-index: 1;
  }

  .decoracao-esquerda-baixo {
    width: 350px;
    left: -15rem;
    transform: rotate(180deg);
    z-index: 1;
  }
}

@media (max-width: 480px) {
  .topo-talento,
  .topo-brilhar,
  .topo-arraia {
    font-size: 1.5rem;
  }

  .mobile-amarelo {
    display: flex !important;
  }
  
  .topo-festival {
    padding: 10% 0 2rem;
  }
  
  .logo-festival {
    z-index: 5;
  }

  .texto-topo {
    z-index: 5;
  }

  .corda-direita {
    height: 110rem;
  }

  .corda-esquerda {
    height: 130rem;

  }

  .formulario-inscricao {
    padding: 1rem;
    margin-top: -12rem;
  }

  .bandeirolas-festival img {
    max-height: 50px;
  }

  .titulo-inscricao img {
    max-width: 250px;
  }

  .decoracao-direita,
  .decoracao-esquerda {
    width: 150px;
  }

  .cacto-esquerda,
  .cacto-direita {
    width: 80px;
  }

  .selos-finais {
    gap: 0.8rem;
  }

  .rodape-festival {
    flex-direction: column;
    gap: 1rem;
    margin-top: 50px;
  }

  .label-inscricao {
    font-size: calc(0.8em + 0.2vw);
  }

  .formulario-inscricao select {
    padding: 10px;
    margin: 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: calc(0.6em + 0.2vw); /* Tamanho da fonte responsivo */
  }

  .inscricao-selects {
    margin-bottom: 1rem;
  }

  .endereco {
    margin-bottom: 1rem !important;
  }

  .input-inscricao {
    padding: 10px;
    margin: 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: calc(0.6em + 0.2vw); /* Tamanho da fonte responsivo */
  }

 .formulario-inscricao label {
    font-size: calc(0.7em + 0.2vw); /* Tamanho da fonte responsivo */
  }

  .label-inscricao {
    font-size: calc(0.7em + 0.2vw); /* Tamanho da fonte responsivo */
    margin: 0;
  }
}


