.navbar {
    display: flex;
    gap: 2rem;
    justify-content: center;
    background-color: #f8f8f8;
    border-bottom: 1px solid #616161;
    width: 100%;
  }
  
  .nav-item {
    position: relative;
    text-align: center;
  }
  
  
  .name-navbar {
    font-size: 1rem;
    font-weight: bold;
    transform: translate(-50%, -50%);
    pointer-events: none;
    margin-bottom: 5px;
  }