.section-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2rem auto;
    width: 60%;
    border-top: 1.5px solid #2929295a;
}

.section-header h2 {
    font-size: 1.5rem;
    font-weight: bold;
    color: #292929;
}

.section-header a {
    text-decoration: none;
    color: #292929;
    font-size: 1rem;
}


/* Responsividade - Tablet */
@media (max-width: 1024px) {
    .section-header {
        width: 80%;
    }

    .section-header h2 {
        font-size: 1.3rem;
    }

    .section-header a {
        font-size: 0.9rem;
    }
}

/* Responsividade - Mobile */
@media (max-width: 768px) {
    .section-header {
        width: 90%;
    }

    .section-header h2 {
        font-size: 1.2rem;
    }

    .section-header a {
        font-size: 0.8rem;
    }
}
