.third-grid {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 2rem;
    width: 60%;
    margin: 2rem auto;
}

.section-header2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2rem auto;
    width: 100%;
    border-top: 1.5px solid #2929295a;
}

.section-header2 h2 {
    font-size: 1.5rem;
    font-weight: bold;
    color: #292929;
}

.section-header2 a {
    text-decoration: none;
    color: #292929;
    font-size: clamp(0.8rem, 2vw, 1rem);
}

/* Coluna esquerda e direita */
.left-column .grid-item2  {
    display: grid;
    grid-template-columns: 1.7fr 0.4fr;
    gap: 1rem;
    align-items: center;
    text-decoration: none;
    color: #000;
    background-color: #ffffff;
    border-bottom: 1px solid #29292928;
    overflow: hidden;
    padding: 1rem;
    transition: box-shadow 0.3s ease-in-out;
    margin-bottom: 10px;
    text-align: left;
}

.right-column .grid-item2 {
    display: grid;
    grid-template-columns: 2fr 0.6fr;
    gap: 1rem;
    align-items: center;
    text-decoration: none;
    color: #000;
    background-color: #ffffff;
    border-bottom: 1px solid #29292928;
    overflow: hidden;
    padding: 1rem;
    transition: box-shadow 0.3s ease-in-out;
    text-align: left;
}

.left-column .grid-item:hover,
.right-column .grid-item:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Wrapper for images */
.image-wrapper {
    position: relative;
    overflow: hidden;
    max-height: 120px;
}

.left-image {
    width: 100%;
    height: 100%;
}

.left-image img {
    max-width: 100%;
    max-height: 100%;
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: transform 0.3s ease-in-out;
}

.right-image img {
    width: 100px;
    height: 80px;
    border-radius: 8px;
    object-fit: cover;
    transition: transform 0.3s ease-in-out;
}

.left-image img:hover,
.right-image img:hover {
    transform: scale(1.1);
}

/* Conteúdo da notícia */
.content {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 80%;
}

.content .tag {
    display: inline-block;
    font-size: 0.8rem;
    color: white;
    background-color: #ff4b4b;
    padding: 3px 8px;
    border-radius: 4px;
    width: auto; /* Apenas o tamanho do texto */
}

.content .title {
    font-size: 1rem;
    font-weight: 300;
    text-align: left;
    margin: 0;

}

.content .subtitle {
    font-size: 0.9rem;
    font-weight: 300;
    color: #555;
    padding-left: 5px;
    margin: 0;
}

/* Estilo do anúncio */
.ad {
    border-radius: 8px;
    padding: 1rem;
    text-align: center;
    margin-bottom: 1rem;
}

.ad img {
    max-width: 100%;
    border-radius: 8px;
    margin-bottom: 1rem;
}

.ad-title {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.ad-link {
    color: #ff4b4b;
    text-decoration: none;
    font-weight: bold;
}


.section-header3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    width: 90%;
    border-top: 1.5px solid #2929295a;
}

.section-header3 h2 {
    font-size: 1rem;
    font-weight: bold;
    color: #292929;
}

.section-header3 a {
    text-decoration: none;
    color: #292929;
    font-size: 1rem;
}


.ver-mais-btn {
    width: 140px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-transform: uppercase;
    letter-spacing: 1px;
    border: none;
    position: relative;
    background-color: transparent;
    transition: .2s cubic-bezier(0.19, 1, 0.22, 1);
    opacity: 0.6;
    margin: 0 auto;
  }
  
  .ver-mais-btn::after {
    content: '';
    border-bottom: 3px double rgb(210, 73, 73);
    width: 0;
    height: 100%;
    position: absolute;
    margin-top: -5px;
    top: 0;
    left: 5px;
    visibility: hidden;
    opacity: 1;
    transition: .2s linear;
  }
  
  .ver-mais-btn .icon {
    transform: translateX(0%);
    transition: .2s linear;
    animation: attention 1.2s linear infinite;
  }
  
  .ver-mais-btn:hover::after {
    visibility: visible;
    opacity: 0.7;
    width: 90%;
  }
  
  .ver-mais-btn:hover {
    letter-spacing: 2px;
    opacity: 1;
  }
  
  .ver-mais-btn:hover > .icon {
    transform: translateX(30%);
    animation: none;
  }
  
  @keyframes attention {
    0% {
      transform: translateX(0%);
    }
  
    50% {
      transform: translateX(30%);
    }
  }
  

/* Responsividade - Tablet */
@media (max-width: 1024px) {
    .third-grid {
        grid-template-columns: 1fr;
        width: 80%;
    }

    .section-header2 h2{
        font-size: 1.1rem;
        width: 70%;
    }

    .section-header2,
    .section-header3 {
        width: 80%;
        gap: 10px;
    }

    .left-column .grid-item2,
    .right-column .grid-item2 {
        display: grid;
        grid-template-columns: 2fr 1fr; /* Textos maiores à esquerda, imagem menor à direita */
        align-items: center;
        gap: 1rem;
    }

    .left-image img,
    .right-image img {
        width: 100%;
        height: auto;
    }
}


/* Responsividade - Mobile */
@media (max-width: 768px) {
    .third-grid {
        grid-template-columns: 1fr;
        width: 100%;
    }

    .section-header2 h2{
        font-size: 1.1rem;
        width: 70%;
    }

    .section-header2,
    .section-header3 {
        width: 80%;
        gap: 10px;
    }

    .left-column .grid-item2,
    .right-column .grid-item2 {
        display: flex;
        flex-direction: row-reverse;
        align-items: flex-start; /* 👈 Alinha imagem e texto ao topo */
        gap: 1rem;
        padding: 1rem 0.5rem; /* 👈 Remove o espaço interno que afastava do topo */
    }

    .content {
        padding-right: 10px;
    }



    .image-wrapper {
        width: 45%; /* 👈 Tamanho mediano */
        height: auto;
        overflow: hidden;
    }

    .left-image img,
    .right-image img {
        width: 100%;
        height: auto;
        object-fit: cover; /* 👈 Garante que a imagem não fique esticada */
    }
}


