.news-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    font-family: Arial, sans-serif;
    overflow-y: auto; /* Adiciona rolagem vertical */
    min-height: 100vh; /* Garante que o conteúdo ocupe pelo menos a altura da tela */
    color: #ddd;
}

.news-container::-webkit-scrollbar   {
    width: 15px;
}

.news-container::-webkit-scrollbar-track   {
    background-color: #000000;
    border-radius: 11px;
}

.news-container::-webkit-scrollbar-corner {
    width: 20px;
}

.news-container::-webkit-scrollbar-thumb {
    background-color: #e68900;
    border-radius: 11px;
    border: 5px solid #000000;
}

.news-filter select {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #333; /* Cor de fundo do seletor */
    color: #fff; /* Cor do texto do seletor */
    font-size: 16px;
    margin-bottom: 20px;
}

.news-filter select:hover {
    background-color: #444; /* Cor de fundo ao passar o mouse */
    cursor: pointer;
}


/* Seção onde as notícias serão exibidas */
.news-results {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Layout flexível */
    gap: 20px;
    justify-content: center;
}

/* Cada item de notícia */
.news-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px;
    border-radius: 8px;
    background-color: #252525;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* Efeito hover */
.news-item:hover {
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
    transform: translateY(-5px);
}

/* Título da notícia */
.news-item h2 {
    font-size: 1.4em;
    margin-bottom: 10px;
    color: #ffffff;
}

/* Parágrafo */
.news-item p {
    font-size: 1em;
    line-height: 1.6;
    color: #bbbbbb;
}

/* Link da notícia */
.news-item a {
    display: inline-block;
    margin-top: 10px;
    color: #ff9800;
    text-decoration: none;
    font-weight: bold;
    align-self: flex-start;
}

.news-item a:hover {
    text-decoration: underline;
}

/* Imagens das notícias */
.news-item img {
    width: 100%;
    height: 180px;
    object-fit: cover; /* Mantém o aspecto correto sem distorção */
    border-radius: 8px 8px 0 0;
}

/* Responsividade */
@media (max-width: 768px) {
    .news-results {
        grid-template-columns: 1fr; /* Uma coluna em telas menores */
    }

    .news-item h2 {
        font-size: 1.2em;
    }

    .news-item img {
        height: 150px;
    }
}
